        telo{
            font-size: 24px;
        }
        .green{
            color: green;
        }
        .red{
            color: red;
        }
        li.green{
            color: green;
        }
        li.red{
            color: red;
        }
        li.blue{
            color: blue;
        }
        p.kursiv{
            font-style: italic;
        }
        p.bold{
            font-style: bold;
        }